{# count_time.twig #}
<div class="countdown">
{% set c = component  %}
    <p>Countdown to {{ c.date }}:</p>
  <salla-count-down color="#00000" boxed="true" digits="en" size="md" labeled="true" date="{{c.date}}">

</salla-count-down>
</div>


<style>
.countdown{
  width:auto;
  height:auto;
  background:white;
  font-size:25px;
  margin:10px;
 

}
</style>
