{# count_time.twig #}


  <salla-count-down color="#00000" boxed="true" digits="en" size="md" labeled="true">

<div class="container">
{{date}}
</div>
</h2>
</salla-count-down>
{% endfor %}


<style>
.card_bart{
  width:auto;
  height:auto;
  background:white;
  font-size:25px;
  margin:10px;
 

}
</style>
