<section class="s-block s-block--defult-home-slider s-block--full-bg">
<salla-photos  type="">
<div slot="items">
{% for banner in component.banner_last %}
<div class="bg-no-repeat bg-cover swiper-lazy-wrap rounded" style="background-color:black;
background-image:Url('{{banner.image}}');">
    <div class="container text-center item-center
     justfy-content sm:justify-start ltr:sm:justify-end px-8 py-16
      lg:px-20 home-slider_content relative h-full">

 <salla-select color="primary" size="large"> 
   <h3 class="font-weight-bold text-light" >
{{banner.title_image}}
</h3>
</salla-select>
    <p class="text-light">
    {{banner.description_image}}
</p>
    </div>
</div>
{% endfor %}
</div>
</salla-photos>
</section>

