<section class="s-block ">
<salla-slider auto-play pagination type="fullwidth">
<div slot="item">
{% for banner in componet.image_with_text%}
<h4>hello</h4>
{% endfor %}
</div>
</salla-slider>
</section>



