<section class="s-block ">
<salla-photo auto-play pagination type="fullwidth">
<div slot="item">
{% for photos in componet.image_with_text%}
<h4>hello</h4>
{% endfor %}
</div>
</salla-photo>
</section>



