<section class="s-block s-block--defult-home-slider s-block--full-bg">
<salla-photos  type="">
<div slot="items">
{% for banner in component.banner_last %}
<div class="bg-no-repeat bg-cover swiper-lazy-wrap rounded" style="background-color:black;
background-image:Url('{{banner.image}}');">
    <div class="container text-center item-center
     justfy-content ">

 <salla-select color="primary" size="large"> 
   <h3  style=" color:white;">
{{banner.title_image}}
</h3>
</salla-select>
    <p  style=" color:white;">
    {{banner.description_image}}
</p>
    </div>
</div>
{% endfor %}
</div>
</salla-photos>
</section>

<style>
    color-text:white;
</style>

